.settings {
  position: absolute;
  font-weight: 500;
  top: 2rem;
  color: white;
  right: 4rem;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  gap: 1rem;

  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      width: 100%;
      padding: 2rem;
      border-radius: 0;
      font-size: 2rem;
      color: var(--primary);
      font-weight: bold;
      border: 0.125rem solid transparent;
      background: rgba(255, 255, 255, 0.2);
      &::placeholder {
        color: white;
        position: absolute;
        justify-self: center;
        font-weight: 50;
        font-size: 4rem;
        bottom: -0.5rem;
        left: 1rem;
        opacity: 0.1;
      }
      &:hover {
        border: 0.125rem solid var(--purple);
        cursor: pointer;
        outline: 0;
        border-radius: 0;
      }
      &:focus {
        border: 0.125rem solid var(--primary);
        outline: 0;
        border-radius: 0;
      }
    }
  }
}

.title {
  color: #003459;
  font-size: 4rem;
}
