.slot {
  width: 260px;
  height: 120px;
  padding: 2rem;
  border-radius: 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
  font-weight: bold;
  border: 0.125rem solid transparent;
  border-top-left-radius: 70% 50%;
  border-top-right-radius: 30% 45%;
  border-bottom-right-radius: 30% 70%;
  border-bottom-left-radius: 30% 50%;
  background: rgba(255, 255, 255, 0.2);
  &::placeholder {
    color: white;
    text-align: center;
    font-weight: 50;
    font-size: 5rem;
    position: absolute;
    bottom: 5%;
    left: 3.5rem;
    opacity: 0.1;
  }
  &:hover {
    border: 0.125rem solid var(--purple);
    cursor: pointer;
    outline: 0;
    border-radius: 0;
    border-top-left-radius: 70% 50%;
    border-top-right-radius: 30% 45%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 30% 50%;
  }
  &:focus {
    border: 0.125rem solid var(--primary);
    outline: 0;
    border-radius: 0;
    border-top-left-radius: 70% 50%;
    border-top-right-radius: 30% 45%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 30% 50%;
  }
}

.active_slot {
  border: 0.125rem solid var(--primary);
}
