.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
  min-height: 100vh;
  background: #d28cff;

  .container {
    display: flex;
    gap: 1rem;

    .grid {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        width: 100%;
        padding: 2rem;
        border-radius: 0;
        font-size: 2rem;
        color: white;
        font-weight: bold;
        font-family: "Open Sans";
        border: 0.0125rem solid white;
        background-color: transparent;
        &::placeholder {
          color: white;
          position: absolute;
          justify-self: center;
          font-weight: 50;
          font-size: 5rem;
          bottom: -0.5rem;
          left: 1rem;
          opacity: 0.1;
        }
        &:focus {
          outline: 0.125rem solid #003459;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}

.title {
  color: #003459;
  font-size: 4rem;
}
