.settings {
  position: absolute;
  font-weight: 500;
  top: 2rem;
  color: white;
  right: 4rem;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  gap: 1rem;
  .qr_code_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    svg {
      width: 14rem;
      height: 14rem;
    }
  }
}

.title {
  color: var(--primary);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.subtitle {
  position: absolute;
  margin-left: 4.75rem;
  margin-top: 4.5rem;
  font-style: italic;
  color: var(--primary);
}
