.top_container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.button_container {
  display: flex;
  gap: 1rem;
  .reset {
    align-self: flex-end;
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    &:hover {
      background-color: var(--purple);
    }
  }
}

.grid {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  .title {
    text-align: left;
  }
  .winner_input {
    display: flex;
    gap: 1rem;
  }
}
