.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .subtitle {
    display: flex;
    font-size: 2rem;
    color: var(--primary);
    font-weight: bolder;
    gap: 1rem;
    align-items: center;
    select {
      width: 6rem;
      font-size: 1rem;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  .form_field {
    padding: 1rem;
    border-radius: 50px;
    border: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  .input_field {
    display: flex;
    color: var(--primary);
    gap: 0.5rem;
    flex-direction: column;
    input {
      font-size: 1rem;
    }
  }
}

.reset {
  align-self: flex-end;
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  &:hover {
    background-color: var(--purple);
  }
}

.active_categories {
  display: flex;
  flex-direction: column;
  float: left;
  .title {
    font-weight: 500;
    color: var(--primary);
  }
  .slot {
    display: flex;
    gap: 0.5rem;
  }
}
