.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .subtitle {
    display: flex;
    font-size: 2rem;
    color: var(--primary);
    font-weight: bolder;
    gap: 1rem;
    align-items: center;
    .form_field {
      padding: 1rem;
      border-radius: 50px;
      border: 0;
      background: rgba(255, 255, 255, 0.4);
    }
    select {
      width: 6rem;
      font-size: 1rem;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }
}

.game_button {
  width: fit-content;
  display: flex;
  align-self: end;
}

.active_categories {
  display: flex;
  flex-direction: column;
  float: left;
  .title {
    font-weight: 500;
    color: var(--primary);
  }
  .slot {
    display: flex;
    gap: 0.5rem;
  }
}
